.recover-container {
    max-width: 400px;
    margin: auto;
  }
  
  .info-section {
    margin-bottom: 2rem;
  }
  
  .confirmation-message {
    margin-top: 2rem;
    color: var(--ion-color-success);
  }
  