<ion-header>
  <ion-toolbar class="toolbar-header">
    <!-- Botón de WhatsApp -->
    <ion-buttons slot="start">
      <ion-button fill="clear" href="https://wa.me/message/2KD322Q6H5KUG1" target="_blank" class="whatsapp-button">
        <ion-icon name="logo-whatsapp" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Título del encabezado -->
    <ion-title class="app-title">CARRITO</ion-title>

    <!-- Botón de volver -->
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goBack()" class="goback-button">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mensaje destacado debajo del título -->
  <div class="highlight-banner">
    <p class="highlight-text">¡Revisa y confirma tu pedido antes de continuar!</p>
  </div>

  <!-- Lista de productos en el carrito -->
  <ion-card *ngFor="let item of cartItems; let i = index" class="promo-card">
    <ion-card-header>
      <ion-card-title>{{ item.product.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Imagen del producto -->
      <div class="image-container">
        <img [src]="item.product.imageUrl" [alt]="item.product.name" />
      </div>

      <!-- Descripción del producto -->
      <p class="product-description">{{ item.product.description }}</p>

      <!-- Controles de cantidad -->
      <div class="quantity-container">
        <ion-button class="quantity-btn" (click)="decreaseQuantity(i)">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
        <span class="quantity">{{ item.quantity }}</span>
        <ion-button class="quantity-btn" (click)="increaseQuantity(i)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </div>
      

      <!-- Precio total del producto -->
      <div class="price-container">
        <p class="price-value">Total: {{ item.totalPrice | currency: 'CLP' }}</p>
      </div>

      <!-- Botón para eliminar del carrito -->
      <div class="actions-container">
        <ion-button color="danger" fill="outline" (click)="removeFromCart(i)">Eliminar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Resumen de precios -->
  <div class="summary-container">
    <p class="summary-text">Total del carrito: <strong>{{ totalCartPrice | currency: 'CLP' }}</strong></p>
    <button class="promo-button" (click)="checkout()">Finalizar compra</button>
  </div>
</ion-content>
