<ion-header>
  <ion-toolbar>
    <!-- Botón de WhatsApp a la izquierda -->
    <ion-buttons slot="start">
      <ion-button fill="clear" color="primary" href="https://wa.me/message/2KD322Q6H5KUG1" target="_blank">
        <ion-icon name="logo-whatsapp" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Título centrado -->
    <ion-title>RECARGAS</ion-title>

    <!-- Botón de volver a la derecha -->
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title size="large">Recargas</ion-title>
  </ion-toolbar>

  <!-- Card de Recargas -->
  <ion-card>
    <img src="assets/images/catalogo 24 befine.jpg" alt="Recarga de Agua">
    <ion-card-content>
      <ion-card-title>Recarga de Agua</ion-card-title>
      <p>¡Elige la cantidad que necesitas para tu hogar o negocio!</p>

      <!-- Controles de cantidad -->
      <div class="quantity-container">
        <!-- Botón de Restar -->
        <ion-button fill="outline" color="primary" (click)="decreaseQuantity()">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>

        <!-- Mostrar Cantidad -->
        <span class="quantity">{{ quantity }}</span>

        <!-- Botón de Sumar -->
        <ion-button fill="outline" color="primary" (click)="increaseQuantity()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </div>

     <!-- Sección de Precio Total -->
    <div class="price-container">
      <p class="price-label">Total:</p>
      <p class="price-value"><strong>{{ totalPrice | currency:'$':'symbol':'1.0-0' }}</strong></p>
    </div>

    <!-- Botón Comprar -->
    <button class="custom-btn" (click)="buyNow()">
      <ion-icon name="cart-outline"></ion-icon>
      Comprar
    </button>

    </ion-card-content>
  </ion-card>
</ion-content>
