<ion-header>
  <ion-toolbar>
    <!-- Botón de WhatsApp a la izquierda -->
    <ion-buttons slot="start">
      <ion-button fill="clear" color="primary" href="https://wa.me/message/2KD322Q6H5KUG1" target="_blank">
        <ion-icon name="logo-whatsapp" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Título centrado -->
    <ion-title>PRODUCTOS DESTACADOS</ion-title>

    <!-- Botón de volver a la derecha -->
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Recarga Económica -->
  <div class="product-card product-economica">
    <div class="product-header">
      <h1 class="product-title">Recarga Económica</h1>
      <span class="product-badge popular">¡Más Vendido!</span>
    </div>
    <div class="product-image">
      <img src="assets/images/5x10recargas.jpg" alt="Recarga Económica">
    </div>
    <div class="product-details">
      <p>5 recargas de agua de 20 litros por $10.000, ¡ahorra $2.500!</p>
    </div>
    <div class="price-container">
      <p class="price-value">$10.000</p>
    </div>
    <div class="actions-container">
      <ion-button class="custom-cart-btn" expand="block" (click)="addToCart('Recarga Económica')">Añadir al carrito</ion-button>
    </div>
  </div>

  <!-- Pack Inicial -->
  <div class="product-card product-inicial">
    <div class="product-header">
      <h1 class="product-title">Pack Inicial</h1>
      <span class="product-badge oferta">¡Oferta!</span>
    </div>
    <div class="product-image">
      <img src="assets/images/promos2_befine.jpg" alt="Pack Inicial">
    </div>
    <div class="product-details">
      <p>1 Dispensador USB o ambiental + 3 recargas de agua con envases incluidos.</p>
    </div>
    <div class="price-container">
      <p class="price-value">$18.000</p>
    </div>
    <div class="actions-container">
      <ion-button class="custom-cart-btn" expand="block" (click)="addToCart('Pack Inicial')">Añadir al carrito</ion-button>
    </div>
  </div>

  <!-- Pack Premium -->
  <div class="product-card product-premium">
    <div class="product-header">
      <h1 class="product-title">Pack Premium</h1>
      <span class="product-badge exclusivo">¡Exclusivo!</span>
    </div>
    <div class="product-image">
      <img src="assets/images/promos_befine.jpg" alt="Pack Premium">
    </div>
    <div class="product-details">
      <p>1 Dispensador eléctrico de agua fría/caliente + 3 recargas de agua con envases incluidos.</p>
    </div>
    <div class="price-container">
      <p class="price-value">$115.000</p>
    </div>
    <div class="actions-container">
      <ion-button class="custom-cart-btn" expand="block" (click)="addToCart('Pack Premium')">Añadir al carrito</ion-button>
    </div>
  </div>
</ion-content>
