<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>prod_dest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <h2>Productos Destacados</h2>
<ion-card>
  <img src="assets/images/5x10recargas.jpg" alt="Dispensador Portátil">
  <ion-card-content>
    <ion-card-title>Recarga Económica</ion-card-title>
    <p>¡Recarga Económica! La opción más accesible para tu hogar.</p>
    <p>$10.000 CLP</p>
    <ion-button color="primary" size="small">Agregar al carrito</ion-button>
    <ion-button color="secondary" size="small" fill="outline">Comprar ahora</ion-button>
  </ion-card-content>
</ion-card>
  </ion-header>
</ion-content>
