<ion-header>
  <ion-toolbar>
    <!-- Botón de WhatsApp a la izquierda -->
    <ion-buttons slot="start">
      <ion-button fill="clear" color="primary" href="https://wa.me/message/2KD322Q6H5KUG1" target="_blank">
        <ion-icon name="logo-whatsapp" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Título centrado -->
    <ion-title>EMPRESAS</ion-title>

    <!-- Botón de volver a la derecha -->
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Producto -->
  <div class="product-card product-empresas">
    <div class="product-header">
      <h1 class="product-title">Recargas para Empresas</h1>
      <span class="product-badge exclusivo">¡Exclusivo!</span>
    </div>
    <div class="product-image">
      <img src="assets/images/empresas_befine.jpg" alt="Recargas para Empresas">
    </div>
    <div class="product-details">
      <p>Incluye dispensadores y recargas personalizadas para empresas.</p>
    </div>
    <div class="price-container">
      <p class="price-value">$120.000</p>
    </div>
    <div class="actions-container">
      <ion-button class="custom-cart-btn" expand="block" (click)="addToCart('Recargas para Empresas')">Añadir al carrito</ion-button>
    </div>
  </div>

  <!-- Sección de Contacto -->
  <div class="contact-section">
    <h2 class="contact-title">Contáctanos</h2>
    <p class="contact-description">¿Necesitas un plan personalizado? Escríbenos:</p>
    <div class="contact-buttons">
      <!-- Botón de WhatsApp -->
      <ion-button fill="solid" color="success" href="https://wa.me/message/2KD322Q6H5KUG1" target="_blank">
        <ion-icon name="logo-whatsapp" slot="icon-only"></ion-icon>
      </ion-button>
      <!-- Botón de Gmail -->
      <ion-button fill="solid" color="danger" href="mailto:befine.cl@gmail.com" target="_blank">
        <ion-icon name="mail-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
