<ion-header>
  <ion-toolbar>
    <ion-title>Mi Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información de Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input placeholder="Nombre del usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input type="email" placeholder="correo@ejemplo.com"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
