<ion-header>
  <ion-toolbar class="toolbar-header">
    <!-- Botón de WhatsApp -->
    <ion-buttons slot="start">
      <ion-button fill="clear" href="https://wa.me/message/2KD322Q6H5KUG1" target="_blank" class="whatsapp-button">
        <ion-icon name="logo-whatsapp" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Título del encabezado -->
    <ion-title class="app-title">CUENTA</ion-title>

    <!-- Botón de volver -->
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goBack()" class="goback-button">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mensaje destacado -->
  <div class="highlight-banner">
    <p class="highlight-text">Accede a tu cuenta para gestionar tu perfil y pedidos.</p>
  </div>

  <!-- Mensaje central de Iniciar Sesión/Registrarse -->
  <div class="account-message">
    <p class="account-text">
      Bienvenido a Befine. Para acceder a tu historial de pedidos, gestionar tu información personal o realizar compras, por favor <strong>inicia sesión</strong> o <strong>regístrate</strong>.
    </p>

    <!-- Botones de acción -->
    <div class="actions-container">
      <button class="promo-button" (click)="login()">Iniciar Sesión</button>
      <button class="promo-button" (click)="register()">Registrarse</button>
    </div>
  </div>
</ion-content>
