<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" routerLink="/home">
        <ion-img 
          src="assets/BEFINA_PNG_COLOR_COPIA.png" 
          alt="Logo Befina" 
          style="height: 24px; width: auto; margin: 0 auto;">
        </ion-img>
        <ion-label style="font-size: 12px;">Home</ion-label>
      </ion-tab-button>      

      <ion-tab-button tab="cupones" routerLink="/cupones">
        <ion-icon name="pricetags-outline"></ion-icon>
        <ion-label>Cupones</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="historial" routerLink="/historial">
        <ion-icon name="clipboard-outline"></ion-icon>
        <ion-label>Mis pedidos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="cuenta" routerLink="/cuenta">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Mi cuenta</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
