/* Cards de promociones */
.promo-card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  margin: 16px;
  padding: 8px;
  background: #ffffff; /* Fondo blanco */
}

/* Botones dentro de las promociones */
.promo-button {
  display: block;
  width: 100%;
  text-align: center;
  background: linear-gradient(to right, #0066cc, #0099ff); /* Gradiente azul */
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra inicial */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  cursor: pointer;
}

/* Hover en los botones de las promociones */
.promo-button:hover {
  transform: scale(1.03); /* Efecto de crecimiento */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Sombra más prominente */
  background: linear-gradient(to right, #0055aa, #007acc); /* Gradiente más oscuro */
}

/* Estilo general del encabezado */
.toolbar-header {
  background: white;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

/* Título centrado */
.app-title {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #0066cc;
}

/* Botón de WhatsApp */
.whatsapp-button ion-icon {
  font-size: 24px;
  color: #25D366;
}

/* Botón de volver */
.goback-button {
  padding: 8px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* Ícono del botón de volver */
.goback-icon {
  font-size: 24px;
  color: #0066cc;
}

.goback-button:hover .goback-icon {
  transform: scale(1.2);
  color: #0099ff;
}

/* Estilo del título de los cards */
ion-card-title {
  color: #00509e; /* Azul oscuro */
  font-size: 1.4rem; /* Tamaño del texto */
  font-weight: bold; /* Negrita para destacar */
  margin-bottom: 8px; /* Espaciado inferior */
  text-align: center; /* Centrado opcional */
}

/* Estilo para los precios en <strong> */
ion-label strong {
  color: #00509e; /* Azul oscuro */
  font-size: 1.2rem; /* Tamaño del texto más grande */
  font-weight: bold; /* Negrita para destacar */
  display: block; /* Asegura que el precio ocupe una línea separada */
  margin-top: 8px; /* Espaciado superior */
  text-align: center; /* Centrado */
}
