<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/historial" color="primary">
        <ion-icon name="water-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a Befine</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Encuentra promociones y gestiona tus pedidos de agua purificada desde aquí.
    </ion-card-content>
  </ion-card>
</ion-content>
